:root {
    --primary-color: maroon;
    --highlight-color: lime;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

.container-padding {
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.title {
    color: var(--highlight-color);
    font-size: 2rem;
    font-weight: normal;
}

.content {
    flex: 2;
    overflow: auto;
}

.input {
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: 4px;
}

.actions {
    margin-top: 25px;
}

.action {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--highlight-color);
    border: none;
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: 4px;
}

.action:hover {
    background-color: rgba(128, 0, 0, 0.7);
}

.footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--highlight-color);
}