<div class="container">
    <p *ngIf="hasError" class="error">Bitte Anmeldedaten überprüfen</p>
    <form class="form">
        <div class="form-group">
            <label for="username">Benutzername</label>
            <input [(ngModel)]="login.username" required type="text" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Passwort</label>
            <input [(ngModel)]="login.password" required type="password" name="password" id="password">
        </div>
        <div class="actions">
            <button type="reset" class="button reset" (click)="close.emit()">Abbrechen</button>
            <button (click)="doLogin()" type="submit" class="button submit">Anmelden</button>
        </div>
    </form>
</div>