.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .container-padding {
        padding: 10px;
    }

    .header {
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-color);

        .title {
            color: var(--highlight-color);
            font-size: 2rem;
            font-weight: normal;
        }
    }
    
    .content {
        flex: 2;
        overflow: auto;
    }
    
    .footer {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        color: var(--highlight-color);
    }
}