<div class="app">
    <header class="header">
        <h1 class="title">{{title}}</h1>
        <p class="actions">
            <ng-container *ngFor="let action of headerActions">
                <button type="button" class="action" *ngIf="action.showAction()">{{action.name}}</button>
            </ng-container>
        </p>
    </header>
    <main class="content">
        <p>Willkommen!</p>
    </main>
    <footer class="footer">
        <p>&copy; {{year}} by Das Angular Training Team ;)</p>
    </footer>
</div>