<div class="container">
    <header class="header container-padding">
        <h1 class="title">{{title}}</h1>
        <div class="header-actions">
            <ng-container *ngFor="let headerAction of headerActions" >
                <app-command [command]="headerAction"></app-command>
            </ng-container>
        </div>
    </header>
    <main class="content container-padding">
        <app-greeter class="greeter"></app-greeter>
    </main>
    <footer class="footer container-padding">
        <p>&copy; 2022 by me :)</p>
    </footer>
</div>