<div class="container">
    <header class="header container-padding">
        <h1 class="title">{{title}}</h1>
    </header>
    <main class="content container-padding">
        <div class="greeter">
            <div class="prompt">
                <div class="form-group">
                    <input class="input" type="text" name="name" id="name" placeholder="Dein Name" required>
                </div>
                <div class="actions">
                    <button id="greet-action" class="action">Sag Hallo</button>
                </div>
            </div>
            <div class="output">
                <p id="greeting"></p>
            </div>
        </div>
    </main>
    <footer class="footer container-padding">
        <p>&copy; 2022 by me :)</p>
    </footer>
</div>