.container {
    display: flex;
    flex-direction: column;

    .item {
        margin: 10px 0;
    }

    .item:first-child() {
        margin-top: 0;
    }

    .item:nth-child(even) {
        background-color: darkkhaki;
    }
}