:root {
    --default-padding: 20px;
}

.default-bg {
    background-color: maroon;
    color: limegreen;
}

.default-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}